.hero {
  padding: 200px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
    url(./img/Landscape.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

.btn {
  margin: 20px;
}
.btn a {
  color: white;
  text-decoration: none;
  padding: 20px;
}
.about-us {
  margin: 50px;
}
.about-us img {
  border-radius: 8px;
}

.about-us p {
  margin: 40px;
  padding: 20px;
  font-size: 20px;
}
