.content {
  padding: 80px;
  margin: 20px;
  margin-top: 50px;
  background: #ececec;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.Travel ul {
  margin-top: 50px;
}

.Travel li {
  text-align: left;
  font-size: 20px;
}
.Travel li:hover {
  font-size: 22px;
  font-style: italic;
}
