.img-gallery img {
  border-radius: 2px;
  transition: all 150ms ease-in-out;
}
.img-gallery img:hover {
  transform: scale(1.05);
}
.card {
  background: #ececec;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 10px;
  margin: 10px;
}
.card p {
  background: rgba(255, 255, 255);
  margin-top: 10px;
  margin-bottom: 0;
}
.header {
  margin: 20px;
  padding: 20px;
  background: #ececec;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 4px;
}
.header p {
  font-size: 20px;
}
